### This notebook is an informal study of the correlation between mobility for each state and COVID cases. The intention is only to practice the use of tools for data analysis. A real analysis of the situation must be done by an epidemiologist.

In [1]:
import pandas as pd

### loading and cleaning Global_Mobilty_report.csv

In [2]:
globalMobility = pd.read_csv('Global_Mobility_Report.csv', low_memory = False)

In [3]:
globalMobility.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [4]:
globalMobility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458565 entries, 0 to 458564
Data columns (total 11 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   country_region_code                                 457777 non-null  object
 1   country_region                                      458565 non-null  object
 2   sub_region_1                                        445233 non-null  object
 3   sub_region_2                                        265611 non-null  object
 4   date                                                458565 non-null  object
 5   retail_and_recreation_percent_change_from_baseline  358425 non-null  float64
 6   grocery_and_pharmacy_percent_change_from_baseline   345821 non-null  float64
 7   parks_percent_change_from_baseline                  212781 non-null  float64
 8   transit_stations_percent_change_from_baseline       244044 non-null  float64
 9   workplaces_percent_change_from_baseline             445735 non-null  float64
 10  residential_percent_change_from_baseline            251216 non-null  float64
dtypes: float64(6), object(5)
memory usage: 38.5+ MB

In [5]:
# selecting only the data of Brazil
mobilityBr = globalMobility[globalMobility.country_region_code == 'BR']

# removing globalMobility from the memory
del globalMobility 

# removing columns of country from the data frame after selection
mobilityBr.drop(['country_region_code', 'country_region'], inplace = True, axis = 1)

In [6]:
mobilityBr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2828 entries, 12791 to 15618
Data columns (total 9 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   sub_region_1                                        2727 non-null   object
 1   sub_region_2                                        0 non-null      object
 2   date                                                2828 non-null   object
 3   retail_and_recreation_percent_change_from_baseline  2828 non-null   float64
 4   grocery_and_pharmacy_percent_change_from_baseline   2828 non-null   float64
 5   parks_percent_change_from_baseline                  2828 non-null   float64
 6   transit_stations_percent_change_from_baseline       2828 non-null   float64
 7   workplaces_percent_change_from_baseline             2828 non-null   float64
 8   residential_percent_change_from_baseline            2828 non-null   float64
dtypes: float64(6), object(3)
memory usage: 220.9+ KB

sub_region_1 refers to the state of Brasil and sub_region_2 for brasil do not have data.

In [7]:
# changing the name of the sub_region_1 column to state
mobilityBr.rename({'sub_region_1':'state'}, axis = 1, inplace = True)

# removing column empty
mobilityBr.drop(['sub_region_2'], axis = 1, inplace = True)

The covid data is using the state with the code so will be necessary convert the name of the state to the code

In [8]:
states = {'Acre':  'AC', 'Alagoas' : 'AL', 'Amapá' : 'AP',
          'Amazonas':'AM', 'Bahia':'BA', 'Ceará':'CE',
          'Federal District':'DF', 'Espírito Santo':'ES', 'Goiás':'GO',
          'Maranhão':'MA', 'Mato Grosso':'MT', 'Mato Grosso do Sul':'MS',
          'Minas Gerais':'MG','Pará':'PA','Paraíba':'PB','Paraná':'PR',
          'Pernambuco':'PE','Piauí':'PI','Rio de Janeiro':'RJ',
          'Rio Grande do Norte':'RN','Rio Grande do Sul':'RS','Rondônia':'RO',
          'Roraima':'RR','Santa Catarina':'SC','São Paulo':'SP',
          'Sergipe':'SE','Tocantins':'TO'}

In [9]:
mobilityBr['state'] = mobilityBr.state.str.replace('State of ', '').map(states)

In [10]:
mobilityBr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2828 entries, 12791 to 15618
Data columns (total 8 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   state                                               2727 non-null   object
 1   date                                                2828 non-null   object
 2   retail_and_recreation_percent_change_from_baseline  2828 non-null   float64
 3   grocery_and_pharmacy_percent_change_from_baseline   2828 non-null   float64
 4   parks_percent_change_from_baseline                  2828 non-null   float64
 5   transit_stations_percent_change_from_baseline       2828 non-null   float64
 6   workplaces_percent_change_from_baseline             2828 non-null   float64
 7   residential_percent_change_from_baseline            2828 non-null   float64
dtypes: float64(6), object(2)
memory usage: 198.8+ KB

In [11]:
# checking duplicates
len(mobilityBr[mobilityBr.duplicated(subset = ['date', 'state'])])

0

There is note data of the same data of the same state

### loading and cleaning covid19-BR.csv

In [12]:
covidBr = pd.read_csv('covid19-BR.csv')

In [13]:
covidBr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149829 entries, 0 to 149828
Data columns (total 16 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   epidemiological_week                           149829 non-null  int64
 1   date                                           149829 non-null  object
 2   order_for_place                                149829 non-null  int64
 3   state                                          149829 non-null  object
 4   city                                           147638 non-null  object
 5   city_ibge_code                                 148627 non-null  float64
 6   place_type                                     149829 non-null  object
 7   last_available_confirmed                       149829 non-null  int64
 8   last_available_confirmed_per_100k_inhabitants  144778 non-null  float64
 9   new_confirmed                                  149829 non-null  int64
 10  last_available_deaths                          149829 non-null  int64
 11  new_deaths                                     149829 non-null  int64
 12  last_available_death_rate                      149829 non-null  float64
 13  estimated_population_2019                      148627 non-null  float64
 14  is_last                                        149829 non-null  bool
 15  is_repeated                                    149829 non-null  bool
dtypes: bool(2), float64(4), int64(6), object(4)
memory usage: 16.3+ MB

In [14]:
covidBr.head()

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population_2019,is_last,is_repeated
0,23,2020-06-01,65,AC,Acrelândia,1200013.0,city,158,1035.65810,0,1,0,0.0063,15256.0,True,False
1,23,2020-06-01,32,AC,Assis Brasil,1200054.0,city,28,377.51112,1,2,0,0.0714,7417.0,True,False
2,23,2020-06-01,24,AC,Brasiléia,1200104.0,city,38,144.60766,1,2,0,0.0526,26278.0,True,False
3,23,2020-06-01,55,AC,Bujari,1200138.0,city,49,477.30372,0,2,0,0.0408,10266.0,True,False
4,23,2020-06-01,25,AC,Capixaba,1200179.0,city,40,340.91878,0,1,0,0.0250,11733.0,True,False

In [15]:
# the data of mobility is only by state that is the sum of all cities of the state
# the data about cities will be remove of the analysis
covidBr = covidBr[covidBr.place_type == 'state']

# only the data of states is been using so the columns city, city_ibge_code and place_type are unnecessary
covidBr.drop(['city', 'city_ibge_code', 'place_type'], axis = 1, inplace = True)

# is_last is only a column that shows if is the last data or not it can be droped
covidBr.drop(['is_last'], axis = 1, inplace = True)

In [16]:
# sorting the data frame and reseting the index
covidBr = covidBr.sort_values(['state', 'date']).reset_index(drop = True)

In [17]:
# checking data that was not actualized
covidBr.is_repeated.value_counts()

False    2111
True       80
Name: is_repeated, dtype: int64

Some days are not actualized that will not be a problem when group the data by week.

In [18]:
# checking duplicates
len(covidBr[covidBr.duplicated(subset = ['date', 'state'])])

0

There is note data of the same data of the same state

In [19]:
# the epidemiological week is defined by the start pandemic on Wuhan.
# it is more useful define the epidemiological_week as the start on the state
weekStart = covidBr[['epidemiological_week', 'state']].groupby('state').min().to_dict()['epidemiological_week']
covidBr['epidemiological_week'] = covidBr[['epidemiological_week', 'state']].apply(lambda x: x['epidemiological_week'] - weekStart[x['state']], axis = 1)

### Merging data from mobility with data of covid

In [20]:
covidMerged = covidBr.merge(mobilityBr, how = 'inner', left_on = ['date', 'state'], right_on = ['date', 'state'])

In [26]:
covidMerged

,epidemiological_week,date,order_for_place,state,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population_2019,is_repeated,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,0,2020-03-17,1,AC,3,0.34016,3,0,0,0.0000,881935.0,False,-11.0,20.0,-11.0,-6.0,17.0,-1.0
1,0,2020-03-18,2,AC,3,0.34016,0,0,0,0.0000,881935.0,False,-26.0,4.0,-22.0,-15.0,-5.0,6.0
2,0,2020-03-19,3,AC,4,0.45355,1,0,0,0.0000,881935.0,False,-34.0,-5.0,-26.0,-27.0,-12.0,9.0
3,0,2020-03-20,4,AC,7,0.79371,3,0,0,0.0000,881935.0,False,-48.0,-12.0,-48.0,-28.0,-18.0,12.0
4,0,2020-03-21,5,AC,11,1.24726,4,0,0,0.0000,881935.0,False,-67.0,-10.0,-55.0,-41.0,-25.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,9,2020-05-21,65,TO,2205,140.18995,229,49,2,0.0222,1572866.0,False,-41.0,-15.0,-20.0,-55.0,-21.0,16.0
1998,9,2020-05-22,66,TO,2430,154.49504,225,51,2,0.0210,1572866.0,False,-44.0,-9.0,-29.0,-56.0,-18.0,15.0
1999,9,2020-05-23,67,TO,2430,154.49504,0,51,0,0.0210,1572866.0,True,-50.0,-11.0,-28.0,-60.0,-13.0,12.0
2000,10,2020-05-24,68,TO,2430,154.49504,0,51,0,0.0210,1572866.0,True,-57.0,-21.0,-32.0,-68.0,-9.0,10.0
2001,10,2020-05-25,69,TO,2696,171.40685,266,58,7,0.0215,1572866.0,False,-39.0,-10.0,-21.0,-54.0,-16.0,14.0